/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.container {
  margin-left: 15vw;
  width: 75vw;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style: disc;
}