@import "tailwindcss";

@theme {
  --color-accent-1: #FAFAFA;
  --color-accent-2: #EAEAEA;
  --color-accent-7: #333;
  --color-success: #0070f3;
  --color-cyan: #79FFE1;
  --tracking-tighter: -.04em;
  --leading-tight: 1.2;
  --text-5xl: 2.5rem;
  --text-6xl: 2.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6.25rem;
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.container {
  margin-left: 15vw;
  width: 75vw;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style: disc;
}
